<div class="body">
    <div class="phone-holder">
        <div class="phone">
            <div class="status-bar">
                <div class="status-icon">
                    <img class="status-icon-image" src="assets/img/cellular_status.png">
                </div>
                <div class="time">
                    {{ time }}
                </div>
                <div class="status-icon">
                    <img class="status-icon-image" src="assets/img/location_status.png">
                </div>
            </div>
            <div class="title">
                {{ villagerName }}
            </div>
            <div *ngIf="villagerSelected != true">
                <div class="app-grid">
                    <div class="search-bar">
                        <i class="search-bar__icon bi bi-search"></i>
                        <input class="search-bar__input" id="villagers_seachbar" type="text" placeholder="Search"
                            (input)="searchVillager()">
                        <button class="search-bar__button">Search</button>
                    </div>
                    <!-- Villagers list -->
                    <div class="villagers-list">
                        <div class="villager" *ngFor="let villager of villagersIcon">
                            <div (click)="showContentByCode(villager)">
                                <div class="villager__image">
                                    <img class="villager__image__img" src="{{ villager.image_uri }}">
                                </div>
                                <div class="villager__name">
                                    {{ villager.name['name-USen'] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="villagerSelected == true">
                <div class="villager-content">
                    <div class="villager-content__image">
                        <img class="villager-content__image__img" src="{{ villagerSelectedData.image_uri }}">
                    </div>
                    <div class="villager-content__personality">
                        {{ villagerSelectedData.personality }}
                    </div>
                    <div class="villager-content__birthday">
                        {{ villagerSelectedData.birthday }}
                    </div>
                    <div class="villager-content__species">
                        {{ villagerSelectedData.species }}
                    </div>
                    <div class="villager-content__gender">
                        {{ villagerSelectedData.gender }}
                    </div>
                    <div class="villager-content__catchphrase">
                        {{ villagerSelectedData['catch-phrase'] }}
                    </div>
                    <div class="villager-content__hobby">
                        {{ villagerSelectedData.hobby }}
                    </div>
                    <div class="villager-content__phrase">
                        {{ villagerSelectedData['saying'] }}
                    </div>
                    <div class="villager-content__icon">
                        <img class="villager-content__icon__img" src="{{ villagerSelectedData.icon_uri }}">
                    </div>
                </div>
            </div>
            <div class="home-button" (click)="goBack()">
                <ion-icon name="stop-circle-outline" class="home-button__home_icon"></ion-icon>
            </div>
        </div>
    </div>
</div>
